@font-face {
  font-family: 'FontSaddlebag';
  src: url('Saddlebag.ttf');
  src: url('Saddlebag.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontSmokum';
  src: url('Smokum-Regular.ttf');
  src: url('Smokum-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontBookerlyRegular';
  src: url('Bookerly-Regular.ttf');
  src: url('Bookerly-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontBookerlyRegularItalic';
  src: url('Bookerly-RegularItalic.ttf');
  src: url('Bookerly-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontBookerlyBold';
  src: url('Bookerly-Bold.ttf');
  src: url('Bookerly-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontBookerlyBoldItalic';
  src: url('Bookerly-BoldItalic.ttf');
  src: url('Bookerly-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
