<header id="top">
<!--
	<div class="socialmedia">
		<a href="https://twitter.com/SunsetteSkye"><i class="fa fa-twitter fa-fw fa-lg fa-2x" aria-hidden="true"></i></a>
		<a href="https://www.facebook.com/sunderedmarches/"><i class="fa fa-facebook fa-fw fa-lg fa-2x" aria-hidden="true"></i></a>
		<a href="https://www.instagram.com/sunderedmarches/"><i class="fa fa-instagram fa-fw fa-lg fa-2x" aria-hidden="true"></i></a>
		<a href="https://www.youtube.com/channel/UC6y2g5TLn84bTuG8nnzENeQ/"><i class="fa fa-youtube-play fa-fw fa-lg fa-2x" aria-hidden="true"></i></a>
	</div>
-->
	<img src="/css/img/logo_3.png" alt="The Irregulars | Sundered Marches">
	<nav>
		<span style="display: inline-block; width: 10%; text-align: left;">&nbsp;<i class="fa fa-star" aria-hidden="true"></i></span>
		<span style="display: inline-block; width: 76%;">
		<a href="/"><h2>Home</h2></a>&nbsp;♦&nbsp;
<!--		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp; -->
<!--		<a href="/#pageabout"><h2>About</h2></a>&nbsp;♦&nbsp;	  -->
<!--		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp; -->
		<a href="/news.html"><h2>News</h2></a>&nbsp;♦&nbsp;
<!--		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp; -->
		<a href="/story.html"><h2>Story</h2></a>&nbsp;♦&nbsp;
<!--		&nbsp;<i class="fa fa-star" aria-hidden="true"></i>&nbsp; -->
		<a href="/story.html"><h2>Story</h2></a>&nbsp;♦&nbsp;
		<a href="https://www.youtube.com/channel/UC6y2g5TLn84bTuG8nnzENeQ/"><i class="fa fa-youtube-play fa-fw fa-lg fa-2x" aria-hidden="true"></i>&nbsp;♦&nbsp;
		<a href="/5e/"><h2>5E (WIP)</h2></a>
		</span>
		<span style="display: inline-block; width: 10%; text-align: right;"><i class="fa fa-star" aria-hidden="true"></i>&nbsp;</span>
	</nav>
</header>
