{%- assign colname = include.colname | default: "news" -%}
{%- assign col = site[colname] -%}

{%- assign index = 0 -%}
{%- for item in col %}
    {%- if item.url == page.url %}
        {%- assign index = forloop.index -%}
    {%- endif %}
{%- endfor -%}

{%- assign index = index | minus: 1 -%}
{%- assign index_prev = index | minus: 1 -%}
{%- assign index_next = index | plus: 1 -%}

<section><nav>
    <div>
        <div style="width: 100px; float: left; text-align: left; padding-left: 25px;">
            &nbsp;
            {%- if col[index].url != col.first.url -%}
                <a href="{{ col.first.url }}"><i class="fa fa-arrow-circle-left fa-2x" aria-hidden="true"></i></a>
                <a href="{{ col[index_prev].url }}"><i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a>
            {%- endif -%}
        </div>
        <div style="width: 100px; float: right; text-align: right; padding-right: 25px;">
            {%- if col[index].url != col.last.url -%}
                <a href="{{ col[index_next].url }}"><i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></a>
                <a href="{{ col.last.url }}"><i class="fa fa-arrow-circle-right fa-2x" aria-hidden="true"></i></a>
            {%- endif -%}
            &nbsp;
        </div>
        <div style="text-align: center;">
<!--            <i class="fa fa-star" aria-hidden="true"></i> -->
            <a href="{{include.colurl}}"><h2 style="display: inline;">Archive</h2></a>
<!--            <i class="fa fa-star" aria-hidden="true"></i> -->
<h2>&nbsp;♦&nbsp;</h2>
            <a href="#top"><h2 style="display: inline;">Top</h2></a>
<!--            <i class="fa fa-star" aria-hidden="true"></i> -->
        </div>
    </div>
</nav></section>
