<section style="background-color: transparent;">
	<div style="float: left; width: 50%; padding: 0px;">
		<a href="https://www.backerkit.com/call_to_action/851f3d64-c9d1-47be-a2bb-7f741aa7d2c5/landing"><img src="/assets/MxMBanner.png" alt="Support the Campaign!" style="width: 100%; padding: 0px;"></a>
	</div>
	<div style="float: right; width: 50%; padding: 0px;">
		<a href="https://www.patreon.com/sunderedmarches"><img src="/assets/Patreon-Banner.png" alt="Support us on Patreon!" style="width: 100%; padding: 0px;"></a>
	</div>
</section>
