---
# STORY
---
<!doctype html>
<html lang="en">
	<head>
		{%- include head.html -%}
		<title>Sundered Marches - {{ page.title }}</title>
	</head>
	<body>
		{%- include header.html -%}
		{%- include supportus.html -%}
		{%- include navigator-top.html colname="story" colurl="/story.html"-%}
		<section>
			<h1>{{ page.title }}</h1>
			<div>
				By: {{ page.author }}, on {{ page.date | date: "%-d %B %Y" }}
			</div><hr><div>
				{{ page.content | markdownify }}
			</div>
		</section>
		{%- include navigator-bottom.html colname="story" colurl="/story.html"-%}
		{%- include footer.html -%}
	</body>
</html>